body {
    font-family: Roboto, sans-serif;

}

header {
    height: 3.5em;
    width: 100%;
    background-color: black;
    justify-content: space-between;
    display: flex;
}

.menu {
    height: 2em;
    width: 2em;
    display: flex;
    padding-right: 1em;
    padding-top: 0.7em;
}

.spotify {
    display: flex;
    height: 1.8em;
    width: 50px;
    padding-left: 30px;
    padding-top: 10px;

}

.azul {
    background-color: #1d75de;
    height: 29em;
    width: 100%;

}

.azul h2 {
    color: white;
    display: flex;
    padding-top: 1.5em;
    margin-left: 5%;
    font-size: 2em;
    flex-wrap: wrap;
    font-weight: 700;

}

.azul h3 {
    color: white;
    margin-left: 5%;
    margin-top: 10%;
    font-weight: 600;
}

.azul button {
    background-color: #191414;
    color: white;
    margin-left: 5%;
    border-radius: 50px;
    width: 90%;
    height: 4em;
    font-weight: 800;
}

.botaobaixo button {
    background-color: #1d75de;
    border: 2px solid white;
}

.botaocima button {
    margin-top: 14%;
    margin-bottom: 2%;

}

.botaocima button:hover {
    transform: scale(1.03);
    background-color: black;
    border-color: rgb(25, 20, 20);
}

.botaobaixo button:hover {
    transform: scale(1.03);
}

.small {
    color: white;
    font-size: 12px;
    margin-top: 10%;
    margin-left: 4%;
    line-height: 20px;
}

.small a {
    color: white;
}

.branco {
    background-color: #f6f6f6;
    height: 2000px;

}

.branco h2 {
    font-weight: bold;
    font-size: 32px;
    letter-spacing: -1.28px;
    line-height: 1;
    text-align: center;
    padding-top: 30px;
}

.branco h4 {
    padding-top: 15px;
    text-align: center;

}

.quadrado {
    height: 470px;
    width: 440px;
    background-color: white;
    border-radius: 2%;
    margin: auto;
    margin-top: 80px;
    box-shadow: rgb(255 255 255) 0px 8px 0px 0px, rgb(0 0 0 / 30%) 0px 0px 8px;
}

.quadrado2 {
    height: 470px;
    width: 440px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    border-radius: 2%;
    box-shadow: rgb(255 255 255) 0px 8px 0px 0px, rgb(0 0 0 / 30%) 0px 0px 8px;
}

.quadrado3 {
    height: 470px;
    width: 440px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    border-radius: 2%;
    box-shadow: rgb(255 255 255) 0px 8px 0px 0px, rgb(0 0 0 / 30%) 0px 0px 8px;
}

.botao1 button {
    background-color: #1d75de;
    border: 1px solid #1d75de;
    border-radius: 5%;
    color: white;
    margin-left: 20px;
    font-weight: 700;
    height: 25px;
    margin-top: 20px;
}

.botao2 button {
    background-color: white;
    border: 1px solid #1d75de;
    border-radius: 5%;
    color: #1d75de;
    font-weight: 700;
    font-size: 14px;
    margin-left: 200px;
    height: 25px;
}